# The host that will be used to perform the REST-calls against
environment:
    host:
# 'ok_status': what is the `ArchiveStatus` that we define as 'OK' for an item.
# This can differ between environments.
ok_status: on_tape
# user credentials with wich the requests to the REST api will be performed (an
# thus, also, to which resources the script will have access)
credentials:
    user:
    passwd:
request:
    # any headers that should go with each request can be specified here
    headers:
         accept: application/vnd.mediahaven.v2+json
    # integer: default timeout value, in seconds, for every request, eg. 10
    timeout: 10
